*{
    text-align: center;
    margin: 0;
}
nav{
    background-color: gold;
    position: sticky;
    top: 0;
    font-size: x-large;
    padding: 10px;
}
nav>a{
    text-decoration: none;
    color: black;
}
nav>a:hover{
    text-decoration: underline;
    color: black;
}
img{
    max-width: 100%;
}